.header-bottom {
    position: absolute;
    width: 100%;
    &__content {
        @include flex-center(space-between);
        padding-top: vw(40);
    }
    &__logo {
        font-size: vw(24);
        letter-spacing: vw(1);
        color: $logo;
        font-weight: 400;
        text-transform: uppercase;
        span {
            font-weight: 700;
        }
    }
    &__nav {
        @include flex-center;
    }
    &__link {
        font-size: vw(14);
        line-height: vw(20);
        color: $logo;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: vw(50);
        transition: 0.3s;
        &:hover {
            color:$blue;
            transform: scale(1.2);
        }
    }
    &__search {
        width: vw(190);
        height: vw(30);
        background-color: rgba(248,248,248,0);
        border: vw(1) solid #e7e7e7;
        &::placeholder {
            font-size: vw(16);
            line-height: vw(27);
            color: $black;
            font-weight: 300;
        }
    }
}